<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./responsive.css">
    <script async src="./script.js"></script>
    <link rel="website icon" href="./img/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <script async src="https://kit.fontawesome.com/12dd6b153a.js" crossorigin="anonymous"></script>
    <title>Tomato_one</title>
</head>

<body>
    <div class="Start_content">
        <div class="Tomato_one_menu_flex">
            <div class="logo" alt="logo">
                <div class="burger" id="burger">
                    <span></span>
                </div>
            </div>
            
            <div class="menu">
                <div class="search">
                    <input type="search" placeholder="Search">
                    <img src="./img/ico_search.png" alt="">
                </div>

                <ul id="under_header" class="nav-menu">
                    <li><a href="./HomePage.html">Home</a></li>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="./Tomato_all.html">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">R & D</a></li>
                    <li><a href="./Contact_us.html">Contact</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="Tomato_one_main_content">
        <div id="Tomato_one_main_content_first">
            <p><strong><a href="./Tomato_all.html"><i class="fa-solid fa-arrow-left-long"></i> Return to all tomatoes</strong></a> </p>
            <h1>
                {{ product.title }}<br>
                <strong>{{ product.short_text }}</strong> 
            </h1>
            <img src="./img/Сross.png" alt="">
            <div id="red_circle_tomato">
                <img src="./img/red_tomato_icon.png" alt="">
                <p>Very high yield and excellent fruits quality!</p>
            </div>
            <div class="characteristics">
                <p><strong>CHARACTERISTICS</strong></p>
                
                <h6><b>Resistance</b><br>
                HR: ToMV:0-2; Fol: 1,2; Ve/Vd;<br>
                IR: TYLCV
                </h6>
            </div>
            <div class="characteristics">
                <p><strong>Plant</strong></p>
                <ul>
                    <li><span>Strong vigor that provides good leaf coverage.</span></li>
                    <li><span> Very high productivity with good fruit setting.</span></li>
                    <li><span> Early matured variety.</span></li>
                </ul>
            </div>
            <div class="characteristics"> 
                <p><strong>Fruit</strong></p>
                <ul>
                    <li><span>Long shelf life on plant and post harvest.</span></li>
                    <li><span>Nice shiny attractive deep red color.</span></li>
                    <li><span>Average fruit size: 140 – 160 grams.</span></li>
                </ul>
            </div>
        </div>
        <div id="Tomato_one_main_content_second">
            <img :src="'./img/'+product.image" alt="">
                <div id="button_right">
                    <button v-if="!btnVisible" @click="addToCard(product.id)">
                    <img src="./img/PDF_svg.png" alt="" ><i class="fa-solid fa-money-bill"></i> Add to card</button>
                    
                   <a href="./Contact_us.html"> 
                        <button v-if="btnVisible">
                            <img src="./img/PDF_svg.png" alt="" ><i class="fa-solid fa-basket-shopping"></i> Go to card
                        </button>
                    </a>
                </div>
            <div class="characteristics"> 
                <p><strong>Cycle</strong></p>
                <ul>
                    <li><span>Spring</span></li>
                    <li><span>Fall</span></li>
                    <li><span>Winter</span></li>
                </ul>
            </div>
            <div class="characteristics"> 
                <p><strong>Color</strong></p>
                <p id="characteristics_last">Red</p>
            </div>
        </div>
        </div>


    <footer>
        <div id="footer_first">
            <div>
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Managment</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">R&D</a></li>
                    <li><a href="#">Links</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div>
                <a href="#"><img src="./img/linkedin 5 4.png" alt=""></a>
                <a href="#"><img src="./img/Ico_inst.png" alt=""></a>
                <a href="#"><img src="./img/Ico_tube.png" alt=""></a>
                <a href="#"><img src="./img/Ico_tw.png" alt=""></a>
                <a href="#"><img src="./img/Ico_fb.png" alt=""></a>
            </div>
        </div>
        <div id="footer_second">
            <p>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="./script.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
</body>

</html>